:root {
  --main-bg-color: #5a97fa;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.head{
    padding: 15px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-bg-color);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

h1{
    color: white;
}

.books{
    padding: 30px;
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(auto-fit, minmax(150px, 20vw));
}

.bookcard{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    min-width: 150px;
    aspect-ratio: 2 / 1;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.bookcard h2{
    color: white;
}

.bookcard div{
    display: flex;
    gap: 5px;
}

.bookcard svg{
    width: 20px;
}

.deleteBtn{
    position: absolute;
    top: 8px;
    right: 8px;
}

button{
    padding: 5px;
}

dialog{
    margin: auto; 
    padding: 2rem;
    border: none;
    border-radius: 12px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px); 
}

#form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.readStatus {
    cursor: pointer;
}