:root {
  --main-bg-color: #5a97fa;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.head{
    padding: 15px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-bg-color);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

h1{
    color: white;
}

.books{
    padding: 30px;
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(auto-fit, minmax(150px, 30vw));
}

.bookcard{
    min-width: 150px;
    aspect-ratio: 2 / 1;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

button{
    padding: 5px;
}

dialog{
    padding: 1rem;
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

#form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}